.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
}

h2 {
  margin: 0;
}

input#search-bar {
  border-radius: 5px;
  padding: 3px;
  margin: 10px 0;
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

input#search-bar:hover {
  background: rgba(137, 207, 235,0.5);
}

input#search-bar:focus {
  outline-style: none;
  background: rgba(135, 206, 250, 0.5);
}

table {
  margin-top: 15px;
}

thead {
  background-color: skyblue;
}

thead th {
  border-bottom: 2px solid white;
}

table {
  border-spacing: 0;
}

tbody td {
  border-bottom: 1px dotted black;
}

tbody tr:nth-child(odd) {
  background-color: beige;
}
